<link rel="stylesheet" href="/nav.css">
<div id="navbar">
<header>
  <div class="sub-nav article">
    <a href="/" class="btn btn-primary active">All articles</a>
    <%if(isAuthenticated){%>
    <a href="/admin/new" class="btn btn-primary">New article</a>
    <a href="/admin/articles" class="btn btn-primary">My articles</a>
    <%}%>
  </div>
  <div class="sub-nav auth">
    <%if(!isAuthenticated){%>

    <a href="/auth/login" class="btn btn-success">Login </a>
    <a href="/auth/signup" class="btn btn-success">signup </a>
    <%}%> 
    <%if(isAuthenticated){%>
    <a href="/auth/logout" class="btn btn-success">logout</a>
    <%}%> 
  </div>
</header>
</div>